.login-card, .register-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
}

.login-content{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $primary-color;
}

.login-bar{
    position: fixed;
    width: 100%;
    height: 30%;
    left: 0;
    top: 35%;
    background: $secondary-color;
    z-index: -10;
}

.login-button-submit{
    background: $secondary-color!important;
    color: $primary-color!important;
}
.login-button-register{
    background: $forth-color!important;
    color: $primary-color!important;
}
.login-button-content{
    text-align: center;
}
.login-button-row{
    background: $third-color;
}
//
//
